In [1]:
#Importing required libraries for data cleanup on CSV files, and to create DataFrames

import pandas as pd
from pathlib import Path
import numpy as np
import csv
from datetime import datetime
#pd.set_option('display.max_rows', 1000)

In [2]:
#Creating Dataframes from the CSV files
inlaw_df = pd.read_csv(Path("Resources/inlaw_portfolio_032021_to_050821.csv"))
johnson_df = pd.read_csv(Path("Resources/johnson_portfolio_081821_to_051021.csv")) 
johnson_ira_df = pd.read_csv(Path("Resources/johnson_trad_ira_portfolio_021721_to_051021.csv"))

In [3]:
#Chaning the dtypes for the columns.
#str_columns = [('Value'), ('Average Price')]
#inlaw_df[str_columns].dtypes
#inlaw_df[str_columns] = inlaw_df[str_columns].replace(",", "")
#inlaw_df[str_columns] = pd.to_numeric(inlaw_df[str_columns])
#display(inlaw_df)

In [4]:
inlaw_df['Value'] = pd.to_numeric(inlaw_df['Value'].str.replace(",", ""))
inlaw_df['Average Price'] = pd.to_numeric(inlaw_df['Average Price'].str.replace(",", ""))
inlaw_df['Commissions'] = pd.to_numeric(inlaw_df['Commissions'].str.replace("--", ""))
inlaw_df['Expiration Date'] = pd.to_datetime(inlaw_df['Expiration Date'])
johnson_df['Value'] = pd.to_numeric(johnson_df['Value'].str.replace(",", ""))
johnson_df['Average Price'] = pd.to_numeric(johnson_df['Average Price'].str.replace(",", ""))
johnson_df['Commissions'] = pd.to_numeric(johnson_df['Commissions'].str.replace("--", ""))
johnson_df['Expiration Date'] = pd.to_datetime(johnson_df['Expiration Date'])
johnson_ira_df['Value'] = pd.to_numeric(johnson_ira_df['Value'].str.replace(",", ""))
johnson_ira_df['Average Price'] = pd.to_numeric(johnson_ira_df['Average Price'].str.replace(",", ""))
johnson_ira_df['Commissions'] = pd.to_numeric(johnson_ira_df['Commissions'].str.replace("--", ""))
johnson_ira_df['Expiration Date'] = pd.to_datetime(johnson_ira_df['Expiration Date'])

In [5]:
print(inlaw_df.info())
display(inlaw_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               398 non-null    object
 1   Type               398 non-null    object
 2   Action             386 non-null    object
 3   Symbol             386 non-null    object
 4   Instrument Type    386 non-null    object
 5   Description        398 non-null    object
 6   Value              398 non-null    float64
 7   Quantity           398 non-null    int64
 8   Average Price      386 non-null    float64
 9   Commissions        383 non-null    float64
 10  Fees               398 non-null    float64
 11  Multiplier         350 non-null    float64
 12  Underlying Symbol  350 non-null    object
 13  Expiration Date    350 non-null    datetime64[ns]
 14  Strike Price       350 non-null    float64
 15  Call or Put        350 non-null    object
 16  Order #            383 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 53.0+ KB
None

,Date,Type,Action,Symbol,Instrument Type,Description,Value,Quantity,Average Price,Commissions,Fees,Multiplier,Underlying Symbol,Expiration Date,Strike Price,Call or Put,Order #
0,2021-05-08T06:30:42-0700,Money Movement,NaN,NaN,NaN,Regulatory fee adjustment,-0.01,0,NaN,NaN,0.000,NaN,NaN,NaT,NaN,NaN,NaN
1,2021-05-07T12:13:35-0700,Trade,SELL_TO_OPEN,IQ 210521P00013000,Equity Option,Sold 1 IQ 05/21/21 Put 13.00 @ 0.49,49.00,1,49.0,-1.0,-0.142,100.0,IQ,2021-05-21,13.0,PUT,148294915.0
2,2021-05-07T09:52:54-0700,Trade,SELL_TO_OPEN,./ESM1 ESM1 210618C4420,Future Option,Sold 1 /ESM1 ESM1 06/18/21 Call 4420.00 @ 10.25,512.50,1,512.5,-2.5,-0.870,1.0,/ESM1,2021-06-18,4420.0,CALL,148228548.0
3,2021-05-07T09:52:41-0700,Trade,BUY_TO_CLOSE,./ESM1 EW3K1 210521C4300,Future Option,Bought 1 /ESM1 EW3K1 05/21/21 Call 4300.00 @ 9.0,-450.00,1,-450.0,0.0,-0.870,1.0,/ESM1,2021-05-21,4300.0,CALL,148227829.0
4,2021-05-07T09:44:31-0700,Trade,BUY_TO_CLOSE,SPY 210521C00421000,Equity Option,Bought 2 SPY 05/21/21 Call 421.00 @ 4.56,-912.00,2,-456.0,0.0,-0.270,100.0,SPY,2021-05-21,421.0,CALL,148224512.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,2021-03-12T10:07:46-0800,Trade,SELL_TO_OPEN,TLRY 210416P00020000,Equity Option,Sold 1 TLRY 04/16/21 Put 20.00 @ 1.98,198.00,1,198.0,-1.0,-0.152,100.0,TLRY,2021-04-16,20.0,PUT,137206787.0
394,2021-03-12T10:07:46-0800,Trade,SELL_TO_OPEN,TLRY 210416C00070000,Equity Option,Sold 1 TLRY 04/16/21 Call 70.00 @ 1.92,192.00,1,192.0,-1.0,-0.152,100.0,TLRY,2021-04-16,70.0,CALL,137206787.0
395,2021-03-12T08:20:26-0800,Trade,SELL_TO_OPEN,./ESM1 EWJ1 210430P3170,Future Option,Sold 1 /ESM1 EWJ1 04/30/21 Put 3170.00 @ 11.5,575.00,1,575.0,-2.5,-0.870,1.0,/ESM1,2021-04-30,3170.0,PUT,137149650.0
396,2021-03-12T02:30:56-0800,Trade,SELL_TO_OPEN,./ESM1 EWJ1 210430C4150,Future Option,Sold 1 /ESM1 EWJ1 04/30/21 Call 4150.00 @ 17.5,875.00,1,875.0,-2.5,-0.870,1.0,/ESM1,2021-04-30,4150.0,CALL,137025523.0
397,2021-03-11T14:00:00-0800,Money Movement,NaN,NaN,NaN,ACH DEPOSIT,250000.00,0,NaN,NaN,0.000,NaN,NaN,NaT,NaN,NaN,NaN

In [6]:
print(johnson_df.info())
display(johnson_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               847 non-null    object
 1   Type               847 non-null    object
 2   Action             736 non-null    object
 3   Symbol             796 non-null    object
 4   Instrument Type    796 non-null    object
 5   Description        847 non-null    object
 6   Value              847 non-null    float64
 7   Quantity           847 non-null    float64
 8   Average Price      792 non-null    float64
 9   Commissions        729 non-null    float64
 10  Fees               847 non-null    float64
 11  Multiplier         761 non-null    float64
 12  Underlying Symbol  761 non-null    object
 13  Expiration Date    761 non-null    datetime64[ns]
 14  Strike Price       761 non-null    float64
 15  Call or Put        761 non-null    object
 16  Order #            729 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(8)
memory usage: 112.6+ KB
None

,Date,Type,Action,Symbol,Instrument Type,Description,Value,Quantity,Average Price,Commissions,Fees,Multiplier,Underlying Symbol,Expiration Date,Strike Price,Call or Put,Order #
0,2021-05-10T06:30:05-0700,Trade,BUY_TO_CLOSE,AAPL 210618C00135000,Equity Option,Bought 1 AAPL 06/18/21 Call 135.00 @ 2.00,-200.00,1.0,-200.0,0.0,-0.130,100.0,AAPL,2021-06-18,135.0,CALL,148272350.0
1,2021-05-08T06:29:59-0700,Money Movement,NaN,NaN,NaN,Regulatory fee adjustment,-0.04,0.0,NaN,NaN,0.000,NaN,NaN,NaT,NaN,NaN,NaN
2,2021-05-07T11:31:10-0700,Trade,SELL_TO_OPEN,IQ 210618P00015000,Equity Option,Sold 1 IQ 06/18/21 Put 15.00 @ 2.01,201.00,1.0,201.0,-1.0,-0.142,100.0,IQ,2021-06-18,15.0,PUT,148273282.0
3,2021-05-07T11:31:10-0700,Trade,BUY_TO_CLOSE,IQ 210521P00015000,Equity Option,Bought 1 IQ 05/21/21 Put 15.00 @ 1.73,-173.00,1.0,-173.0,0.0,-0.130,100.0,IQ,2021-05-21,15.0,PUT,148273282.0
4,2021-05-07T11:29:38-0700,Trade,BUY_TO_CLOSE,EBAY 210618P00055000,Equity Option,Bought 1 EBAY 06/18/21 Put 55.00 @ 0.61,-61.00,1.0,-61.0,0.0,-0.130,100.0,EBAY,2021-06-18,55.0,PUT,148272550.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
842,2020-08-19T10:10:31-0700,Trade,SELL_TO_OPEN,NVDA 201016C00500000,Equity Option,Sold 1 NVDA 10/16/20 Call 500.00 @ 34.44,3444.00,1.0,3444.0,-1.0,-0.222,100.0,NVDA,2020-10-16,500.0,CALL,97704129.0
843,2020-08-19T10:10:31-0700,Trade,BUY_TO_OPEN,NVDA 201016C00495000,Equity Option,Bought 1 NVDA 10/16/20 Call 495.00 @ 36.61,-3661.00,1.0,-3661.0,-1.0,-0.140,100.0,NVDA,2020-10-16,495.0,CALL,97704129.0
844,2020-08-18T14:00:00-0700,Money Movement,NaN,NaN,NaN,ACH DEPOSIT,7500.00,0.0,NaN,NaN,0.000,NaN,NaN,NaT,NaN,NaN,NaN
845,2020-08-18T11:09:14-0700,Trade,SELL_TO_OPEN,UPS 201016C00185000,Equity Option,Sold 4 UPS 10/16/20 Call 185.00 @ 1.02,408.00,4.0,102.0,-4.0,-0.558,100.0,UPS,2020-10-16,185.0,CALL,97512800.0
846,2020-08-18T11:09:14-0700,Trade,BUY_TO_OPEN,UPS 201016C00180000,Equity Option,Bought 4 UPS 10/16/20 Call 180.00 @ 1.44,-576.00,4.0,-144.0,-4.0,-0.540,100.0,UPS,2020-10-16,180.0,CALL,97512800.0

In [7]:
print(johnson_ira_df.info())
display(johnson_ira_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               220 non-null    object
 1   Type               220 non-null    object
 2   Action             200 non-null    object
 3   Symbol             206 non-null    object
 4   Instrument Type    206 non-null    object
 5   Description        220 non-null    object
 6   Value              220 non-null    float64
 7   Quantity           220 non-null    int64
 8   Average Price      206 non-null    float64
 9   Commissions        196 non-null    float64
 10  Fees               220 non-null    float64
 11  Multiplier         192 non-null    float64
 12  Underlying Symbol  192 non-null    object
 13  Expiration Date    192 non-null    datetime64[ns]
 14  Strike Price       192 non-null    float64
 15  Call or Put        192 non-null    object
 16  Order #            196 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 29.3+ KB
None

,Date,Type,Action,Symbol,Instrument Type,Description,Value,Quantity,Average Price,Commissions,Fees,Multiplier,Underlying Symbol,Expiration Date,Strike Price,Call or Put,Order #
0,2021-05-10T06:34:45-0700,Trade,BUY_TO_CLOSE,TSM 210618C00125000,Equity Option,Bought 1 TSM 06/18/21 Call 125.00 @ 0.87,-87.00,1,-87.0,0.0,-0.130,100.0,TSM,2021-06-18,125.0,CALL,146814581.0
1,2021-05-10T06:30:05-0700,Trade,BUY_TO_CLOSE,AAPL 210618C00135000,Equity Option,Bought 1 AAPL 06/18/21 Call 135.00 @ 2.00,-200.00,1,-200.0,0.0,-0.130,100.0,AAPL,2021-06-18,135.0,CALL,148269060.0
2,2021-05-08T06:30:32-0700,Money Movement,NaN,NaN,NaN,Regulatory fee adjustment,-0.02,0,NaN,NaN,0.000,NaN,NaN,NaT,NaN,NaN,NaN
3,2021-05-07T11:22:25-0700,Trade,SELL_TO_CLOSE,AMD 210618C00085000,Equity Option,Sold 1 AMD 06/18/21 Call 85.00 @ 1.52,152.00,1,152.0,0.0,-0.142,100.0,AMD,2021-06-18,85.0,CALL,148269301.0
4,2021-05-07T08:23:45-0700,Trade,SELL_TO_OPEN,./ESM1 ESM1 210618C4450,Future Option,Sold 1 /ESM1 ESM1 06/18/21 Call 4450.00 @ 7.75,387.50,1,387.5,-2.5,-0.870,1.0,/ESM1,2021-06-18,4450.0,CALL,148178276.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,2021-02-18T08:46:00-0800,Trade,SELL_TO_OPEN,TSLA 210319C00950000,Equity Option,Sold 1 TSLA 03/19/21 Call 950.00 @ 9.70,970.00,1,970.0,-1.0,-0.172,100.0,TSLA,2021-03-19,950.0,CALL,131825831.0
216,2021-02-18T08:46:00-0800,Trade,BUY_TO_OPEN,TSLA 220121C00950000,Equity Option,Bought 1 TSLA 01/21/22 Call 950.00 @ 171.85,-17185.00,1,-17185.0,-1.0,-0.140,100.0,TSLA,2022-01-21,950.0,CALL,131825831.0
217,2021-02-18T08:34:58-0800,Trade,SELL_TO_OPEN,AAPL 210401C00137000,Equity Option,Sold 1 AAPL 04/01/21 Call 137.00 @ 2.50,250.00,1,250.0,-1.0,-0.152,100.0,AAPL,2021-04-01,137.0,CALL,131819717.0
218,2021-02-18T08:34:58-0800,Trade,BUY_TO_OPEN,AAPL 220121C00140000,Equity Option,Bought 1 AAPL 01/21/22 Call 140.00 @ 13.55,-1355.00,1,-1355.0,-1.0,-0.140,100.0,AAPL,2022-01-21,140.0,CALL,131819717.0
219,2021-02-17T14:00:00-0800,Money Movement,NaN,NaN,NaN,TRANSFER FROM NATIONAL FINA,80481.80,0,NaN,NaN,0.000,NaN,NaN,NaT,NaN,NaN,NaN

In [8]:
#Replace the "T" with a space to better format for datetime
inlaw_df['Date'] = inlaw_df['Date'].str.replace('T','  ')
johnson_df['Date'] = johnson_df['Date'].str.replace('T','  ')
johnson_ira_df['Date'] = johnson_ira_df['Date'].str.replace('T','  ')
display(inlaw_df['Date'])
display(johnson_df['Date'])
display(johnson_ira_df['Date'])

0      2021-05-08  06:30:42-0700
1      2021-05-07  12:13:35-0700
2      2021-05-07  09:52:54-0700
3      2021-05-07  09:52:41-0700
4      2021-05-07  09:44:31-0700
                 ...
393    2021-03-12  10:07:46-0800
394    2021-03-12  10:07:46-0800
395    2021-03-12  08:20:26-0800
396    2021-03-12  02:30:56-0800
397    2021-03-11  14:00:00-0800
Name: Date, Length: 398, dtype: object

0      2021-05-10  06:30:05-0700
1      2021-05-08  06:29:59-0700
2      2021-05-07  11:31:10-0700
3      2021-05-07  11:31:10-0700
4      2021-05-07  11:29:38-0700
                 ...
842    2020-08-19  10:10:31-0700
843    2020-08-19  10:10:31-0700
844    2020-08-18  14:00:00-0700
845    2020-08-18  11:09:14-0700
846    2020-08-18  11:09:14-0700
Name: Date, Length: 847, dtype: object

0      2021-05-10  06:34:45-0700
1      2021-05-10  06:30:05-0700
2      2021-05-08  06:30:32-0700
3      2021-05-07  11:22:25-0700
4      2021-05-07  08:23:45-0700
                 ...
215    2021-02-18  08:46:00-0800
216    2021-02-18  08:46:00-0800
217    2021-02-18  08:34:58-0800
218    2021-02-18  08:34:58-0800
219    2021-02-17  14:00:00-0800
Name: Date, Length: 220, dtype: object

In [9]:
#Convert the Date column into datetime datatype

inlaw_df['Date'] = pd.to_datetime(inlaw_df['Date'], utc = True)
johnson_df['Date'] = pd.to_datetime(johnson_df['Date'], utc = True)
johnson_ira_df['Date'] = pd.to_datetime(johnson_ira_df['Date'], utc = True)
display(inlaw_df['Date'])
display(johnson_df['Date'])
display(johnson_ira_df['Date'])

0     2021-05-08 13:30:42+00:00
1     2021-05-07 19:13:35+00:00
2     2021-05-07 16:52:54+00:00
3     2021-05-07 16:52:41+00:00
4     2021-05-07 16:44:31+00:00
                 ...
393   2021-03-12 18:07:46+00:00
394   2021-03-12 18:07:46+00:00
395   2021-03-12 16:20:26+00:00
396   2021-03-12 10:30:56+00:00
397   2021-03-11 22:00:00+00:00
Name: Date, Length: 398, dtype: datetime64[ns, UTC]

0     2021-05-10 13:30:05+00:00
1     2021-05-08 13:29:59+00:00
2     2021-05-07 18:31:10+00:00
3     2021-05-07 18:31:10+00:00
4     2021-05-07 18:29:38+00:00
                 ...
842   2020-08-19 17:10:31+00:00
843   2020-08-19 17:10:31+00:00
844   2020-08-18 21:00:00+00:00
845   2020-08-18 18:09:14+00:00
846   2020-08-18 18:09:14+00:00
Name: Date, Length: 847, dtype: datetime64[ns, UTC]

0     2021-05-10 13:34:45+00:00
1     2021-05-10 13:30:05+00:00
2     2021-05-08 13:30:32+00:00
3     2021-05-07 18:22:25+00:00
4     2021-05-07 15:23:45+00:00
                 ...
215   2021-02-18 16:46:00+00:00
216   2021-02-18 16:46:00+00:00
217   2021-02-18 16:34:58+00:00
218   2021-02-18 16:34:58+00:00
219   2021-02-17 22:00:00+00:00
Name: Date, Length: 220, dtype: datetime64[ns, UTC]

In [10]:
#Drop the time from the Date column

inlaw_df['Date'] = pd.to_datetime(inlaw_df['Date']).dt.date
johnson_df['Date'] = pd.to_datetime(johnson_df['Date']).dt.date
johnson_ira_df['Date'] = pd.to_datetime(johnson_ira_df['Date']).dt.date
display(inlaw_df['Date'])
display(johnson_df['Date'])
display(johnson_ira_df['Date'])

0      2021-05-08
1      2021-05-07
2      2021-05-07
3      2021-05-07
4      2021-05-07
          ...
393    2021-03-12
394    2021-03-12
395    2021-03-12
396    2021-03-12
397    2021-03-11
Name: Date, Length: 398, dtype: object

0      2021-05-10
1      2021-05-08
2      2021-05-07
3      2021-05-07
4      2021-05-07
          ...
842    2020-08-19
843    2020-08-19
844    2020-08-18
845    2020-08-18
846    2020-08-18
Name: Date, Length: 847, dtype: object

0      2021-05-10
1      2021-05-10
2      2021-05-08
3      2021-05-07
4      2021-05-07
          ...
215    2021-02-18
216    2021-02-18
217    2021-02-18
218    2021-02-18
219    2021-02-17
Name: Date, Length: 220, dtype: object

In [11]:
#Change the "Date" column back to datetime format

inlaw_df['Date'] = pd.to_datetime(inlaw_df['Date'])
johnson_df['Date'] = pd.to_datetime(johnson_df['Date'])
johnson_ira_df['Date'] = pd.to_datetime(johnson_ira_df['Date'])
display(inlaw_df['Date'])
display(johnson_df['Date'])
display(johnson_ira_df['Date'])

0     2021-05-08
1     2021-05-07
2     2021-05-07
3     2021-05-07
4     2021-05-07
         ...
393   2021-03-12
394   2021-03-12
395   2021-03-12
396   2021-03-12
397   2021-03-11
Name: Date, Length: 398, dtype: datetime64[ns]

0     2021-05-10
1     2021-05-08
2     2021-05-07
3     2021-05-07
4     2021-05-07
         ...
842   2020-08-19
843   2020-08-19
844   2020-08-18
845   2020-08-18
846   2020-08-18
Name: Date, Length: 847, dtype: datetime64[ns]

0     2021-05-10
1     2021-05-10
2     2021-05-08
3     2021-05-07
4     2021-05-07
         ...
215   2021-02-18
216   2021-02-18
217   2021-02-18
218   2021-02-18
219   2021-02-17
Name: Date, Length: 220, dtype: datetime64[ns]

In [12]:
#Set the index of the Dateframe to the Date column

inlaw_df = inlaw_df.set_index('Date')
johnson_df = johnson_df.set_index('Date')
johnson_ira_df = johnson_ira_df.set_index('Date')
display(inlaw_df)
#display(johnson_df)
#display(johnson_ira_df)

,Type,Action,Symbol,Instrument Type,Description,Value,Quantity,Average Price,Commissions,Fees,Multiplier,Underlying Symbol,Expiration Date,Strike Price,Call or Put,Order #
Date,,,,,,,,,,,,,,,,
2021-05-08,Money Movement,NaN,NaN,NaN,Regulatory fee adjustment,-0.01,0,NaN,NaN,0.000,NaN,NaN,NaT,NaN,NaN,NaN
2021-05-07,Trade,SELL_TO_OPEN,IQ 210521P00013000,Equity Option,Sold 1 IQ 05/21/21 Put 13.00 @ 0.49,49.00,1,49.0,-1.0,-0.142,100.0,IQ,2021-05-21,13.0,PUT,148294915.0
2021-05-07,Trade,SELL_TO_OPEN,./ESM1 ESM1 210618C4420,Future Option,Sold 1 /ESM1 ESM1 06/18/21 Call 4420.00 @ 10.25,512.50,1,512.5,-2.5,-0.870,1.0,/ESM1,2021-06-18,4420.0,CALL,148228548.0
2021-05-07,Trade,BUY_TO_CLOSE,./ESM1 EW3K1 210521C4300,Future Option,Bought 1 /ESM1 EW3K1 05/21/21 Call 4300.00 @ 9.0,-450.00,1,-450.0,0.0,-0.870,1.0,/ESM1,2021-05-21,4300.0,CALL,148227829.0
2021-05-07,Trade,BUY_TO_CLOSE,SPY 210521C00421000,Equity Option,Bought 2 SPY 05/21/21 Call 421.00 @ 4.56,-912.00,2,-456.0,0.0,-0.270,100.0,SPY,2021-05-21,421.0,CALL,148224512.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-12,Trade,SELL_TO_OPEN,TLRY 210416P00020000,Equity Option,Sold 1 TLRY 04/16/21 Put 20.00 @ 1.98,198.00,1,198.0,-1.0,-0.152,100.0,TLRY,2021-04-16,20.0,PUT,137206787.0
2021-03-12,Trade,SELL_TO_OPEN,TLRY 210416C00070000,Equity Option,Sold 1 TLRY 04/16/21 Call 70.00 @ 1.92,192.00,1,192.0,-1.0,-0.152,100.0,TLRY,2021-04-16,70.0,CALL,137206787.0
2021-03-12,Trade,SELL_TO_OPEN,./ESM1 EWJ1 210430P3170,Future Option,Sold 1 /ESM1 EWJ1 04/30/21 Put 3170.00 @ 11.5,575.00,1,575.0,-2.5,-0.870,1.0,/ESM1,2021-04-30,3170.0,PUT,137149650.0
2021-03-12,Trade,SELL_TO_OPEN,./ESM1 EWJ1 210430C4150,Future Option,Sold 1 /ESM1 EWJ1 04/30/21 Call 4150.00 @ 17.5,875.00,1,875.0,-2.5,-0.870,1.0,/ESM1,2021-04-30,4150.0,CALL,137025523.0
2021-03-11,Money Movement,NaN,NaN,NaN,ACH DEPOSIT,250000.00,0,NaN,NaN,0.000,NaN,NaN,NaT,NaN,NaN,NaN

In [13]:
#Creating new Dataframe to hold Money Movement types from inlaw_df for additional metrics later

#inlaw_money_movement_df = pd.DataFrame()
#johnson_money_movement_df = pd.DataFrame()
#johnson_ira_money_movement_df = pd.DataFrame()
#display(inlaw_money_movement_df)
#display(johnson_money_movement_df)
#display(johnson_ira_money_movement_df)

In [14]:
#Filling new inlaw_money_movement_df with Money Movement types from inlaw_df

#inlaw_money_movement_df = inlaw_df[(inlaw_df['Type'] == 'Money Movement')].dropna(axis=1).drop(columns=["Quantity", "Fees"])
#johnson_money_movement_df = johnson_df[(johnson_df['Type'] == 'Money Movement')].dropna(axis=1).drop(columns=["Quantity", "Fees"])
#johnson_ira_money_movement_df = johnson_ira_df[(johnson_ira_df['Type'] == 'Money Movement')].dropna(axis=1).drop(columns=["Quantity", "Fees"])

In [15]:
#display(inlaw_money_movement_df)
#display(johnson_money_movement_df)
#display(johnson_ira_money_movement_df)

In [16]:
#Drop null values from the Dataframe

inlaw_df = inlaw_df.dropna(how='all')
johnson_df = johnson_df.dropna(how='all')
johnson_ira_df = johnson_ira_df.dropna(how='all')

display(inlaw_df.info())
display(johnson_df.info())
display(johnson_ira_df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 398 entries, 2021-05-08 to 2021-03-11
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Type               398 non-null    object
 1   Action             386 non-null    object
 2   Symbol             386 non-null    object
 3   Instrument Type    386 non-null    object
 4   Description        398 non-null    object
 5   Value              398 non-null    float64
 6   Quantity           398 non-null    int64
 7   Average Price      386 non-null    float64
 8   Commissions        383 non-null    float64
 9   Fees               398 non-null    float64
 10  Multiplier         350 non-null    float64
 11  Underlying Symbol  350 non-null    object
 12  Expiration Date    350 non-null    datetime64[ns]
 13  Strike Price       350 non-null    float64
 14  Call or Put        350 non-null    object
 15  Order #            383 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(7)
memory usage: 52.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 847 entries, 2021-05-10 to 2020-08-18
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Type               847 non-null    object
 1   Action             736 non-null    object
 2   Symbol             796 non-null    object
 3   Instrument Type    796 non-null    object
 4   Description        847 non-null    object
 5   Value              847 non-null    float64
 6   Quantity           847 non-null    float64
 7   Average Price      792 non-null    float64
 8   Commissions        729 non-null    float64
 9   Fees               847 non-null    float64
 10  Multiplier         761 non-null    float64
 11  Underlying Symbol  761 non-null    object
 12  Expiration Date    761 non-null    datetime64[ns]
 13  Strike Price       761 non-null    float64
 14  Call or Put        761 non-null    object
 15  Order #            729 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(7)
memory usage: 112.5+ KB

None

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 220 entries, 2021-05-10 to 2021-02-17
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Type               220 non-null    object
 1   Action             200 non-null    object
 2   Symbol             206 non-null    object
 3   Instrument Type    206 non-null    object
 4   Description        220 non-null    object
 5   Value              220 non-null    float64
 6   Quantity           220 non-null    int64
 7   Average Price      206 non-null    float64
 8   Commissions        196 non-null    float64
 9   Fees               220 non-null    float64
 10  Multiplier         192 non-null    float64
 11  Underlying Symbol  192 non-null    object
 12  Expiration Date    192 non-null    datetime64[ns]
 13  Strike Price       192 non-null    float64
 14  Call or Put        192 non-null    object
 15  Order #            196 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(7)
memory usage: 29.2+ KB

None

In [17]:
#Converting dataframes to CSV to be able to import into new jupyter notebook.

inlaw_df.to_csv("inlaw_csv")
johnson_df.to_csv("johnson_csv")
johnson_ira_df.to_csv("johnson_ira_csv")
#johnson_ira_money_movement_df.to_csv("johnson_ira_money_movement_csv")
#johnson_money_movement_df.to_csv("johnson_money_movement_csv")
#inlaw_money_movement_df.to_csv("inlaw_money_movement_csv")